*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.table {
  display: table
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.border {
  border-width: 1px
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}